
 
 .heading {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-bottom: 20px;
    background-color: rgb(230, 230,230);
    
    
}
.body {
    width:100%;
   max-width : 1220px;
    
    margin-right:  auto;
    margin-left:  auto;
}

.search{
    display: flex;
    align-items: center;
   justify-content: space-between; 
    width: 250px;
    padding: 20px;
    margin-right:40px ; 
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 30px;
}

.Enter{
    background-color : transparent;
    font-size: 15px;
  border : 0px;
  padding-left:10px;

}

.campus{
    max-width: 100%; 
}


